@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.landing-page {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/risen-wang-20jX9b35r_M-unsplash.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form-container {
    width: 100%;
    max-width: 400px; 
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
    
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


input {
    width: 100%; 
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
