.edit-workout-container {
    padding: 20px;
    border: 1px solid #2C2F33;
    border-radius: 8px;
    background-color: #2C2F33;
    max-width: 600px; 
    margin: 0 auto; 
}

.edit-workout-container h2 {
    text-align: center;
    margin-bottom: 20px;
}


.edit-workout-container .form-group {
    margin-bottom: 15px;
}

.edit-workout-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-workout-container input, .edit-workout-container textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.edit-workout-container textarea {
    resize: vertical; 
}

.edit-workout-container button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.edit-workout-container button:hover {
    background-color: rgb(177, 15, 15);
}

.edit-workout-container button[type="button"] {
    background-color: rgb(21, 20, 20);
    margin-top: 10px;
}


.edit-workout-container .exercise-form-group {
    margin-bottom: 20px;
    border: 1px solid #2C2F33;
    padding: 15px;
    border-radius: 8px;
    background-color: #2C2F33;
}

.edit-workout-container .exercise-form-group .form-group {
    margin-bottom: 10px;
}

.edit-workout-container .exercise-form-group label {
    font-weight: normal;
}

.edit-workout-container .exercise-form-group input {
    font-size: 14px; 
}

.edit-workout-container .submit-button {
    width: 100%;
    background-color: rgb(21, 20, 20);
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
}
