.add-workout-container {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 20px;
    border-radius: 10px;
}


.add-workout-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    background-color: rgba(255, 255, 255, 0.9); 
    color: #000; 
    border: 1px solid #ccc; 
}


textarea {
    resize: vertical; 
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    
}

button:hover {
    background-color: rgb(177, 15, 15);
}

button[type="button"] {
    background-color: red;
    margin-top: 10px;
}

button[type="button"]:hover {
    background-color: rgb(177, 15, 15); 
}

.exercise-form-group {
    margin-bottom: 20px;
    border: 1px solid #2C2F33;
    padding: 15px;
    border-radius: 8px;
    
}

.exercise-form-group .form-group {
    margin-bottom: 10px;
}

.exercise-form-group label {
    font-weight: normal;
}

.exercise-form-group input {
    font-size: 14px; 
}

.submit-button {
    width: 100%;
    background-color: red;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.submit-button:hover {
    background-color: rgb(177, 15, 15); 
}
