@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
  
  
  
.navbar {
    display: flex;
    align-items: center;
    height: 4em;
    padding: 0 1rem;
    padding-bottom: 80px; 
}


.navbar h1 {
    font-family: 'Lora', serif;
    font-size: 3em;
    font-weight: 500;
    color: white;
    margin-left: 1rem;
    letter-spacing: 1px;
}

.logo {
    height: 8em; 
    width: auto; 
    margin-left: 15rem;
}