
.sidebar {
  position: fixed;
  top: 0;
  left: -220px; 
  width: 220px;
  height: 100%;
  background-color: black;
  padding-top: 70px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  padding-top: 100px;
}

.sidebar.open {
  left: 0; 
}

.sidebar a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;

  
  
}

.sidebar a:hover {
  background-color: #40444B;
}


.menu-button {
  position: fixed;
  top: 20px;  
  left: 20px; 
  font-size: 20px;
  background: none;
  border: none;
  color: #faf8f8;
  background-color: #0c0b0b;
  cursor: pointer;
  z-index: 1000; 
  
}


