.about-page {
   padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .about-page h1 {
    font-size: 2.4rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .about-page h2 {
    font-size: 1.8rem;
    color: #444;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }
.about-page {
  
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 220px;
  }
  .about-page h1 {
    font-size: 2.4rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .about-page h2 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }
  .team-members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  .team-member {
    background-color: #2C2F33;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  .member-info {
    margin-bottom: 15px;
  }
  .member-title {
    font-style: italic;
    color: white;
    margin-top: 5px;
  }
  .team-member .social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .member-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .member-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .team-member h3 {
    font-size: 1.6rem;
    color: white;
    margin: 0;
    font-weight: bold;
  }
  .team-member p {
    color: white;
    font-size: 1rem;
    margin-top: 5px;
  }
  .team-member .social-links {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }
  .team-member .social-links a {
    margin-right: 15px;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .team-member .social-links a:hover {
    color: white;
  }
  .about-page .project-details {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
  }